/**
    @tag: div
    @component: Wrapper
**/
.wrapper {
    height: fit-content;
    width: 20vw;
    background-color: #ffffff;

    box-sizing: border-box;
    border: 1px solid #55555590;
    border-radius: 4px;

    pointer-events: all;

    display: flex;
    flex-direction: column;
}