/*
    @tag: input
    @component: Input
*/
.input {
    height: 2.5em;
    border: 1px solid #00000060;
    border-radius: 3px;
}

.input:focus {
    outline: none;
    border: 1px solid #227eff;
}